<form id="new-todo-form" action="/todos" method="POST">
    <input id="new-todo-input" class="standard-text-input margin-top-5px" type="text" name="title" placeholder="Add a new To-Do">
    <div id="new-todo-div">
        <span class="form-label">Priority:</span>
        <div class="radio-button-container">
            <div class="btn-group btn-group-toggle radio-button-group" data-toggle="buttons">
                <label class="btn button-high-priority">
                    <input type="radio" name="options" id="option1" autocomplete="off" value="high"> High
                </label>
                <label class="btn button-medium-priority clicked-radio-button">
                    <input type="radio" name="options" id="option2" autocomplete="off" value="medium"> Medium
                </label>
                <label class="btn button-low-priority">
                    <input type="radio" name="options" id="option3" autocomplete="off" value="low"> Low
                </label>
            </div>
        </div>
        <div class="text-center pb-1">
            <button id="cancel-new-todo" class="btn cancel-submit-button" type="button"><i class="fas fa-ban mr-2"></i>Cancel</button>
            <button class="btn cancel-submit-button">Submit<i class="fas fa-check ml-2"></i></button>
        </div>
    </div>
</form>