<% include ./partials/header %>

<div class="master-container">
    <h1>To-Dos</h1>
    
    <% include ./partials/newTodoForm %>

    <ul>
        <% todos.forEach(function(todo) { %>
            <li class="margin-top-5px">
                <!-- Determine what class to assign to each checkbox based on
                the priority of the todo -->
                <% var priorityClass; %>
                <% switch(todo.priority) {
                    case "high": %>
                        <% priorityClass = "high-priority"; %>
                        <% break;
                    case "medium": %>
                        <% priorityClass = "medium-priority"; %>
                        <% break;
                    case "low": %>
                        <% priorityClass = "low-priority"; %>
                        <% break;
                } %>
                
                <div class="task-container">    
                    <div class="task-left-control <%= priorityClass %>">
                        <form id="delete-todo-checkbox" action="/todos/<%= todo._id %>?_method=DELETE" method="POST">
                            <input type="checkbox">
                        </form>
                    </div>
                    
                    <div class="task-body">
                        <%= todo.title %>
                    </div>
                    
                    <i class="far fa-edit edit-todo-toggle" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                </div>    
                
                <% include ./partials/editTodoForm %>
                
            </li>
        <% }); %>
    </ul>
</div>

<% include ./partials/footer %>