<% include ./partials/header %>

<div id="container">
    <h1>To-Dos<span><i class="fa fa-plus"></i></span></h1>
    <input type="text" placeholder="Add a new To-Do">

    <ul>
        <li>
            <span class="high-priority">
                <input type="checkbox">
            </span> 
            <span class="inline">
                Add a new High priority To-Do
            </span>
            
            <span class="inline">
                <a><i class="fas fa-ellipsis-v"></i></a>
            </span>
        </li>
        <li>
            <span class="medium-priority">
                <input type="checkbox">
            </span> 
            <span class="inline">
                Add a new Medium priority To-Do
            </span>
            <span class="inline">
                <i class="fas fa-ellipsis-v"></i>
            </span>
        </li>
        <li>
            <span class="low-priority">
                <input type="checkbox">
            </span> 
            <span class="inline">
                Add a new Low priority To-Do
            </span>
            <span class="inline">
                <i class="fas fa-ellipsis-v"></i>
            </span>
        </li>
    </ul>
</div>

<div>
    <p>
        <a class="btn btn-primary" href="/todos/new">Add New Task</a>
    </p>
    <p>
        <a class="btn btn-primary" href="/todos/123/edit">Edit Task</a>
    </p>
</div>

<% include ./partials/footer %>