<% include ./partials/header %>

<div id="container">
    <h1>To-Dos</h1>
    <input type="text" placeholder="Add a new To-Do">

    <ul>
        <li>
                <div class="task-left-control high-priority">
                    <input type="checkbox">
                </div>
                <div class="task-body">
                    Add a new High priority To-Do
                </div>
                <a href="/todos/123/edit"><i class="far fa-edit" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
        </li>
        <li>
                <div class="task-left-control medium-priority">
                    <input type="checkbox">
                </div>
                <div class="task-body">
                    Add a new Medium priority To-Do the quick brown fox jumped over the lazy dog the quick brown fox
                </div>
                <a href="/todos/123/edit"><i class="far fa-edit" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
        </li>
        <li>
                <div class="task-left-control low-priority">
                    <input type="checkbox">
                </div>
                <div class="task-body">
                    Add a new Low priority To-Do
                </div>
                <a href="/todos/123/edit"><i class="far fa-edit" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
        </li>
        
        
        <li>
                <div class="task-left-control low-priority">
                    <input type="checkbox">
                </div>
                <div class="task-body">
                    Add a new Low priority To-Do
                </div>
        </li>
        <li>
                <div class="task-left-control low-priority">
                    <input type="checkbox">
                </div>
                <div class="task-body">
                    Add a new Low priority To-Do
                </div>
        </li>
        <li>
                <div class="task-left-control low-priority">
                    <input type="checkbox">
                </div>
                <div class="task-body">
                    Add a new Low priority To-Do ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                </div>
        </li>
        <li>
                <div class="task-left-control low-priority">
                    <input type="checkbox">
                </div>
                <div class="task-body">
                    Add a new Low priority To-Do
                </div>
        </li>
        <li>
                <div class="task-left-control low-priority">
                    <input type="checkbox">
                </div>
                <div class="task-body">
                    Add a new Low priority To-Do
                </div>
        </li>
        <li>
                <div class="task-left-control low-priority">
                    <input type="checkbox">
                </div>
                <div class="task-body">
                    Add a new Low priority To-Do
                </div>
        </li>
        <li>
                <div class="task-left-control low-priority">
                    <input type="checkbox">
                </div>
                <div class="task-body">
                    Add a new Low priority To-Do
                </div>
        </li>
        <li>
                <div class="task-left-control low-priority">
                    <input type="checkbox">
                </div>
                <div class="task-body">
                    Add a new Low priority To-Do
                </div>
        </li>
        <li>
                <div class="task-left-control low-priority">
                    <input type="checkbox">
                </div>
                <div class="task-body">
                    Add a new Low priority To-Do the quick brown fox jumped over the lazy dog the quick brown fox jumped over the lazy dog
                </div>
        </li>
        <li>
                <div class="task-left-control low-priority">
                    <input type="checkbox">
                </div>
                <div class="task-body">
                    Add a new Low priority To-Do
                </div>
        </li>
        <li>
                <div class="task-left-control low-priority">
                    <input type="checkbox">
                </div>
                <div class="task-body">
                    Add a new Low priority To-Do
                </div>
        </li>
        <li>
                <div class="task-left-control low-priority">
                    <input type="checkbox">
                </div>
                <div class="task-body">
                    Add a new Low priority To-Do
                </div>
        </li>
        
        
        <!--<li>-->
        <!--    <div class="container-task">-->
        <!--        <div class="task-left-control high-priority">-->
        <!--            <input type="checkbox">-->
        <!--        </div> -->
        <!--        <div class="task-body">-->
        <!--            Add a new High priority To-Do -->
        <!--        </div>-->
        <!--        <div class="task-actions-control">-->
        <!--            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--                <i class="fas fa-ellipsis-v" data-toggle="tooltip" data-placement="top" data-boundary="window" title="Actions"></i>-->
        <!--            </a>-->
        <!--            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
        <!--                <a class="dropdown-item" href="/todos/123/edit">Edit</a>-->
        <!--                <a class="dropdown-item" href="/tasks">Delete</a>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</li>-->
        <!--<li>-->
        <!--    <div class="container-task">-->
        <!--        <div class="task-left-control medium-priority">-->
        <!--            <input type="checkbox">-->
        <!--        </div> -->
        <!--        <div class="task-body">-->
        <!--            Add a new Medium priority To-Do -->
        <!--        </div>-->
        <!--        <div class="task-actions-control">-->
        <!--            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--                <i class="fas fa-ellipsis-v" data-toggle="tooltip" data-placement="top" data-boundary="window" title="Actions"></i>-->
        <!--            </a>-->
        <!--            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
        <!--                <a class="dropdown-item" href="/todos/123/edit">Edit</a>-->
        <!--                <a class="dropdown-item" href="/tasks">Delete</a>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</li>-->
        <!--<li>-->
        <!--    <div class="container-task">-->
        <!--        <div class="task-left-control low-priority">-->
        <!--            <input type="checkbox">-->
        <!--        </div> -->
        <!--        <div class="task-body">-->
        <!--            Add a new Low priority To-Do -->
        <!--        </div>-->
        <!--        <div class="task-actions-control">-->
        <!--            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--                <i class="fas fa-ellipsis-v" data-toggle="tooltip" data-placement="top" data-boundary="window" title="Actions"></i>-->
        <!--            </a>-->
        <!--            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
        <!--                <a class="dropdown-item" href="/todos/123/edit">Edit</a>-->
        <!--                <a class="dropdown-item" href="/tasks">Delete</a>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</li>-->
        
        <!-- BUTTON ATTEMPT -->
        
        <!--<li>-->
        <!--    <div class="container-task">-->
        <!--        <div class="task-left-control high-priority">-->
        <!--            <input type="checkbox">-->
        <!--        </div> -->
        <!--        <div class="task-body">-->
        <!--            Add a new High priority To-Do -->
        <!--        </div>-->
        <!--        <div class="btn-group dropleft task-right-control">-->
        <!--            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle actions-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--                Actions-->
        <!--            </button>-->
        <!--            <div class="dropdown-menu">-->
        <!--                <a class="dropdown-item" href="/todos/123/edit">Edit</a>-->
        <!--                <a class="dropdown-item" href="/tasks">Delete</a>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</li>-->
        <!--<li>-->
        <!--    <div class="container-task">-->
        <!--        <div class="task-left-control medium-priority">-->
        <!--            <input type="checkbox">-->
        <!--        </div> -->
        <!--        <div class="task-body">-->
        <!--            Add a new Medium priority To-Do -->
        <!--        </div>-->
        <!--        <div class="btn-group dropleft task-right-control">-->
        <!--            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle actions-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--                Actions-->
        <!--            </button>-->
        <!--            <div class="dropdown-menu">-->
        <!--                <a class="dropdown-item" href="/todos/123/edit">Edit</a>-->
        <!--                <a class="dropdown-item" href="/tasks">Delete</a>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</li>-->
        <!--<li>-->
        <!--    <div class="container-task">-->
        <!--        <div class="task-left-control low-priority">-->
        <!--            <input type="checkbox">-->
        <!--        </div> -->
        <!--        <div class="task-body">-->
        <!--            Add a new Low priority To-Do -->
        <!--        </div>-->
        <!--        <div class="btn-group dropleft task-right-control">-->
        <!--            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle actions-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--                Actions-->
        <!--            </button>-->
        <!--            <div class="dropdown-menu">-->
        <!--                <a class="dropdown-item" href="/todos/123/edit">Edit</a>-->
        <!--                <a class="dropdown-item" href="/tasks">Delete</a>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</li>-->
    </ul>
</div>

<div>
    <p>
        <a class="btn btn-primary" href="/todos/new">Add New Task</a>
    </p>
    <p>
        <a class="btn btn-primary" href="/todos/123/edit">Edit Task</a>
    </p>
</div>

<% include ./partials/footer %>