<% include ./partials/header %>

<div id="container">
    <h1>To-Dos</h1>
    <input type="text" placeholder="Add a new To-Do">

    <ul>
        <li>
            <div class="container-task">
                <div class="task-left-control high-priority">
                    <input type="checkbox">
                </div> 
                <div class="task-body">
                    Add a new High priority To-Do 
                </div>
                <div class="task-actions-control">
                    <a><i class="fas fa-ellipsis-v" data-toggle="tooltip" data-placement="left" data-boundary="window" title="Actions"></i></a>
                </div>
            </div>
        </li>
        <li>
            <div class="container-task">
                <div class="task-left-control medium-priority">
                    <input type="checkbox">
                </div> 
                <div class="task-body">
                    Add a new Medium priority To-Do 
                </div>
                <div class="task-actions-control">
                    <a><i class="fas fa-ellipsis-v" data-toggle="tooltip" data-placement="left" data-boundary="window" title="Actions"></i></a>
                </div>
            </div>
        </li>
        <li>
            <div class="container-task">
                <div class="task-left-control low-priority">
                    <input type="checkbox">
                </div> 
                <div class="task-body">
                    Add a new Low priority To-Do
                </div>
                <div class="task-actions-control">
                    <a><i class="fas fa-ellipsis-v" data-toggle="tooltip" data-placement="left" data-boundary="window" title="Actions"></i></a>
                </div>
            </div>
        </li>
    </ul>
</div>

<div>
    <p>
        <a class="btn btn-primary" href="/todos/new">Add New Task</a>
    </p>
    <p>
        <a class="btn btn-primary" href="/todos/123/edit">Edit Task</a>
    </p>
</div>

<% include ./partials/footer %>