<% include ./partials/header %>

<h1>Simple To-Do</h1>

<p>Boost your producitivity with a simple to-do app</p>

<a class="btn btn-secondary btn-lg" href="">Sign Up</a>
<a class="btn btn-primary btn-lg" href="">Log In</a>

<% include ./partials/footer %>