<% include ./partials/header %>

<h1>Simple To-Do</h1>

<p>Simply boost your producitivity</p>

<a class="btn btn-secondary btn-lg" href="/register">Sign Up</a>
<a class="btn btn-primary btn-lg" href="/login">Log In</a>

<% include ./partials/footer %>