<!DOCTYPE html>
<html>
    <head>
        <title>Simple To-Do</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
        <% include ./partials/alerts %>
        
        <h1>Simple To-Do</h1>
        
        <p>Simply boost your producitivity</p>
        
        <a class="btn btn-secondary btn-lg" href="/register">Sign Up</a>
        <a class="btn btn-primary btn-lg" href="/login">Log In</a>
        
        <% include ./partials/footer %>