<!DOCTYPE html>
<html>
    <head>
        <title>Simple To-Do</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <% include ./partials/alerts %>
        
        <div id="landing-content">
            <h1 id="app-title" class="mb-4"><i id="landing-icon"class="fas fa-tasks"></i>Simple To-Do</h1>
            
            <h5>Simply get things done</h5>
            
            <hr id="landing-hr">
            
            <div class="pb-3">
                <a class="btn btn-outline-light btn-lg landing-button" href="/register"><i class="fas fa-user-plus mr-2"></i>Sign Up</a>
                <a class="btn btn-outline-light btn-lg landing-button" href="/login">Log In<i class="fas fa-user ml-2"></i></a>
            </div>
                
        </div>
        
        <% include ./partials/footer %>