<% include ./partials/header %>

<div class="master-container">
    <h1>Sign Up</h1>
    
    <form action="/register" method="POST">
        <input class="standard-text-input margin-top-5px" type="text" name="username" placeholder="username">
        <input class="standard-text-input margin-top-5px" type="password" name="password" placeholder="password">
        
        <div class="text-center pt-2 pb-1">
            <a class="btn btn-outline-light account-button" href="/"><i class="fas fa-ban mr-2"></i>Cancel</a>
            <button class="btn btn-outline-light account-button">Sign Up<i class="fas fa-check ml-2"></i></button>
        </div>
    </form>
</div>

<% include ./partials/footer %>