body {
    background: url(https://images.unsplash.com/photo-1485498128961-422168ba5f87?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6cb8f189e636b9d230e25fac91db9d55);
    background-size: cover;
    background-position: center;
}

html {
    height: 100%;
}

#alert-container {
    margin-top: 20px;
}

.jumbotron {
    margin: 21.5em auto;
    text-align: center;
    color: #fff;
    background-color: rgba(73, 79, 92, 0.8);
    width: 50%;
}

h1 {
    font-size: 4em;
    font-weight: 700;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-lg {
    width: 30%;
}

.btn-lg:hover {
    color: rgb(73, 79, 92);
}

.btn-lg:active {
    color: rgb(47, 51, 61) !important;
}
