body {
    font-family: Roboto;
    /*background: #2BC0E4;*/
    /*background: -webkit-linear-gradient(to left, #EAECC6, #2BC0E4);*/
    /*background: linear-gradient(to left, #EAECC6, #2BC0E4);*/
    background: url("/annie-spratt-197448-unsplash-blur.jpg");
    background-size: cover;
    background-position: center;
}

html {
    height: 100%;
}

.navbar-custom,
.active-custom:active {
    background-color: rgb(73, 79, 92);
}

.fa-tasks {
    padding: 0 10px;
    font-size: 1.5em;
    vertical-align: -4px;
}

.fa-check-square {
    padding: 0 2px;
}

#user-stats {
    color: #fff;
}

#alert-container {
    margin-top: 20px;
}

.master-container {
    /*width: 450px;*/
    margin: 100px auto;
    
    /* TESTING */
    background-color: rgb(73, 79, 92);
    /*background-color: rgba(0, 134, 179, 0.5);*/
    width: 460px;
    padding-bottom: 5px;
}

.master-container h1 {
    /*background: #2980b9;*/
    /*background: rgb(102, 153, 153);*/
    /*background: rgb(102, 0, 102);*/
    /*background: rgb(102, 102, 153);*/
    /*background: #b30042;*/
    /*background: #b36500;*/
    background: rgb(47, 51, 61);
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

.account-button {
    width: 22%;
}

.account-button:hover {
    color: rgb(73, 79, 92);
}

.account-button:active {
    color: rgb(47, 51, 61) !important;
}

#todo-list {
    list-style: none;
    margin: 0 5px;
    padding: 0;
    
    /* TESTING */
    width: 450px;
}

li {
    background: #fff;
    line-height: 40px;
    color: #666;
    position: relative;
    width: 100%;
    min-height: 40px;
    height: auto;
}

.standard-text-input {
    font-size: 18px;
    /*color: #2980b9;*/
    /*width: 100%;*/
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    height: 60px;
    
    /* gets rid of gap and prevents lis from shifting downward
    when focused */
    border: 3px solid rgba(0, 0, 0, 0);
    
    /* TESTING */
    width: 450px;
    margin: 0 5px;
    color: #3b3e48;
}

.edit-todo-text-input {
    margin: 0;
}

.standard-text-input:hover,
.standard-text-input:focus {
    /*border: 3px solid #2980b9;*/
    outline: none;
    
    /* testing */
    border: 3px solid rgb(47, 51, 61);
}

.margin-top-5px {
    margin-top: 5px;
}

.title-text {
    color: #666;
}

.task-left-control {
    margin-right: 20px;
    text-align: center;
    width: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    height: 100%;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid rgba(0, 0, 0, 0);
    vertical-align: -3px;
    background: #fff;
}

input[type=checkbox]:hover {
    border: 2px solid rgb(59, 62, 72);
}

/* For IE?*/
input[type=checkbox]::-ms-check {
  display: none;
}

input[type=checkbox]::before {
    content: "✔";
    position: absolute;
    font-size: 1.2em;
    right: 0;
    top: -0.66em;
    visibility: hidden;
    color: rgb(47, 51, 61);
}

input[type=checkbox]:checked::before {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
}

.high-priority {
    background-color: #ac0000;
}

.medium-priority {
    background-color: #f8801c;
}

.low-priority {
    background-color: #fcc12b;
}

.task-body {
    display: inline-block;
    width: 360px;
    position: relative;
    left: 60px;
    overflow: hidden;
    vertical-align: bottom;
}

.fa-edit {
    float: right;
    margin-top: 11px;
    margin-right: 5px;
    opacity: 0;
    transition: visibility 0.25s linear, opacity 0.25s linear;
}

li:hover .fa-edit {
    visibility: visible;
    opacity: 1;
}

.fa-edit:hover {
    /*color: #2980b9;*/
    color: rgb(59, 62, 72);
}

#new-todo-div {
    display: none;
    background: #fff;
    
    /* testing */
    width: 450px;
    margin: 0 auto;
}

.edit-todo-div {
    display: none;
}

.form-label {
    color: rgb(47, 51, 61);
    padding-left: 24px;
}

.radio-button-container {
    display: inline;
}

.radio-button-group {
    margin: 20px 42px;
}

.button-high-priority {
    border-color: rgb(47, 51, 61);
    color: rgb(47, 51, 61);
    background-color: white;
    width: 60px;
}

.button-high-priority:hover,
.button-high-priority.active {
    background-color: #ac0000;
    border-color: #ac0000;
    color: white;
}

.button-high-priority.focus {
    box-shadow: 0 0 0 3px rgba(172, 0, 0, 0.5);
}

.button-medium-priority {
    border-color: rgb(47, 51, 61);
    color: rgb(47, 51, 61);
    background-color: white;
    width: 84px;
}

.button-medium-priority:hover,
.button-medium-priority.active {
    background-color: #f8801c;
    border-color: #f8801c;
    color: white;
}

.button-medium-priority.focus {
    box-shadow: 0 0 0 3px rgba(248, 128, 28, 0.5);
}

.button-low-priority {
    border-color: rgb(47, 51, 61);
    color: rgb(47, 51, 61);
    background-color: white;
    width: 60px;
}

.button-low-priority:hover,
.button-low-priority.active {
    background-color: #fcc12b;
    border-color: #fcc12b;
    color: white;
}

.button-low-priority.focus {
    box-shadow: 0 0 0 3px rgba(252, 193, 43, 0.5);
}

/*.button-top-cushion {*/
/*    padding-top: 10px;*/
/*}*/

/*.button-bottom-cushion {*/
/*    padding-bottom: 10px*/
/*}*/

.cancel-submit-button {
    width: 21%;
    background-color: rgb(73, 79, 92);
    border-color: rgb(73, 79, 92);
    color: #fff;
}

.cancel-submit-button:hover {
    background-color: rgb(59, 62, 72);
    border-color: rgb(59, 62, 72);
}

.cancel-submit-button.active {
    background-color: rgb(47, 51, 61) !important;
    border-color: rgb(47, 51, 61) !important;
}

.cancel-submit-button:focus {
    box-shadow: 0 0 0 3px rgba(47, 51, 61, 0.5);
}

.button-separator {
    margin: 0;
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #ffffff, #2f333d, #ffffff);
    background-image: -moz-linear-gradient(left, #ffffff, #2f333d, #ffffff);
    background-image: -o-linear-gradient(left, #ffffff, #2f333d, #ffffff);
    background-image: linear-gradient(to right, #ffffff, #2f333d, #ffffff); 
}

.modal-body {
    text-align: center;
}