<% include ../partials/header %>

<h1>Edit Task</h1>

<a class="btn btn-primary" href="/tasks">Cancel</a>

<form class="inline" action="/tasks/123?_method=PUT" method="POST">
    <button class="btn btn-primary">Save</button>
</form>

<form action="/tasks/123?_method=DELETE" method="POST">
    <button class="btn btn-danger">Delete</button>
</form>

<% include ../partials/footer %>