<% include ../partials/header %>

<h1>Edit Task</h1>

<form action="/tasks/123?_method=PUT" method="POST">
    <button class="btn btn-primary">Submit</button>
</form>

<% include ../partials/footer %>