<% include ../partials/header %>

<div id="container">
    <h1>Edit To-Do</h1>
    
    <form action="/todos/<%= todo._id %>?_method=PUT" method="POST">
        <input class="title-text" type="text submit" name="title" value="<%= todo.title %>">
        <span class="form-label">Priority:</span>
        <div class="radio-button-container">
            <div class="btn-group btn-group-toggle radio-button-group" data-toggle="buttons">
                <!-- If this is a High Priority todo, set the High Priority button as clicked -->
                <% if (todo.priority === "high") { %>
                    <label class="btn button-high-priority clicked-radio-button">
                <% } else { %>
                    <label class="btn button-high-priority">
                <% } %>
                        <input type="radio" name="options" id="option1" autocomplete="off" value="high"> High
                    </label>
                
                <!-- If this is a Medium Priority todo, set the Medium Priority button as clicked -->
                <% if (todo.priority === "medium") { %>
                    <label class="btn button-medium-priority clicked-radio-button">
                <% } else { %>
                    <label class="btn button-medium-priority">
                <% } %>
                        <input type="radio" name="options" id="option2" autocomplete="off" value="medium"> Medium
                    </label>
                
                <!-- If this is a Low Priority todo, set the Low Priority button as clicked -->
                <% if (todo.priority === "low") { %>
                    <label class="btn button-low-priority clicked-radio-button">
                <% } else { %>
                    <label class="btn button-low-priority">
                <% } %>
                        <input type="radio" name="options" id="option3" autocomplete="off" value="low"> Low
                    </label>
            </div>
        </div>
        <div class="text-center cancel-submit-container">
                <a class="btn btn-primary cancel-submit-button" href="/tasks" >Cancel</a>
                <button class="btn btn-primary cancel-submit-button">Submit</button>
        </div>
    </form>
</div>

<!--<h1>Edit Task</h1>-->

<!--<a class="btn btn-primary" href="/tasks">Cancel</a>-->

<!--<form class="inline" action="/todos/123?_method=PUT" method="POST">-->
<!--    <button class="btn btn-primary">Save</button>-->
<!--</form>-->

<!--<form action="/todos/123?_method=DELETE" method="POST">-->
<!--    <button class="btn btn-danger">Delete</button>-->
<!--</form>-->

<% include ../partials/footer %>