<% include ../partials/header %>

<h1>Tasks Page</h1>

<p>
    <a class="btn btn-primary" href="/todos/new">Add New Task</a>
</p>
<p>
    <a class="btn btn-primary" href="/todos/123/edit">Edit Task</a>
</p>

<% include ../partials/footer %>