<% include ../partials/header %>

<div id="container">
    <h1>Add A New To-Do</h1>
    
    <form action="/todos" method="POST">
        <input type="text" placeholder="Enter a description">
        <span class="form-label">Priority:</span>
        <div class="radio-button-container">
            <div class="btn-group btn-group-toggle radio-button-group" data-toggle="buttons">
                <label class="btn button-high-priority">
                    <input type="radio" name="options" id="option1" autocomplete="off"> High
                </label>
                <label class="btn button-medium-priority active clicked-radio-button">
                    <input type="radio" name="options" id="option2" autocomplete="off" checked> Medium
                </label>
                <label class="btn button-low-priority">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Low
                </label>
            </div>
        </div>
        <div class="text-center" style="padding-bottom: 20px;">
                <a class="btn btn-primary cancel-submit-button" href="/tasks" >Cancel</a>
                <button class="btn btn-primary cancel-submit-button">Submit</button>
        </div>
    </form>
</div>

<% include ../partials/footer %>